In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

%matplotlib inline

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('train.csv')

data[data.isna().all(axis=1)]

,ApplicationDate,Age,AnnualIncome,CreditScore,LoanAmount,LoanDuration,MaritalStatus,NumberOfDependents,HomeOwnershipStatus,MonthlyDebtPayments,...,EmploymentStatus,EducationLevel,Experience,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.dropna(how='all', inplace=True)

In [5]:
data[data.isna().all(axis = 1)]

Empty DataFrame
Columns: [ApplicationDate, Age, AnnualIncome, CreditScore, LoanAmount, LoanDuration, MaritalStatus, NumberOfDependents, HomeOwnershipStatus, MonthlyDebtPayments, CreditCardUtilizationRate, NumberOfOpenCreditLines, NumberOfCreditInquiries, DebtToIncomeRatio, BankruptcyHistory, LoanPurpose, PreviousLoanDefaults, PaymentHistory, LengthOfCreditHistory, SavingsAccountBalance, CheckingAccountBalance, TotalAssets, TotalLiabilities, MonthlyIncome, UtilityBillsPaymentHistory, JobTenure, EmploymentStatus, EducationLevel, Experience, NetWorth, BaseInterestRate, InterestRate, MonthlyLoanPayment, TotalDebtToIncomeRatio, LoanApproved, RiskScore]
Index: []

[0 rows x 36 columns]

In [7]:
data.isna().sum()

ApplicationDate                 0
Age                             0
AnnualIncome                    0
CreditScore                   501
LoanAmount                    501
LoanDuration                    0
MaritalStatus                   0
NumberOfDependents              0
HomeOwnershipStatus             0
MonthlyDebtPayments           501
CreditCardUtilizationRate       0
NumberOfOpenCreditLines         0
NumberOfCreditInquiries         0
DebtToIncomeRatio               0
BankruptcyHistory             501
LoanPurpose                   501
PreviousLoanDefaults            0
PaymentHistory                  0
LengthOfCreditHistory           0
SavingsAccountBalance           0
CheckingAccountBalance        501
TotalAssets                   501
TotalLiabilities                0
MonthlyIncome                   0
UtilityBillsPaymentHistory      0
JobTenure                       0
EmploymentStatus                0
EducationLevel                  0
Experience                      0
NetWorth                      501
BaseInterestRate              501
InterestRate                    0
MonthlyLoanPayment              0
TotalDebtToIncomeRatio          0
LoanApproved                    0
RiskScore                       0
dtype: int64

In [8]:
X = data.drop(['RiskScore'], axis=1)
y = data['RiskScore']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=12345)

In [9]:
X_train.columns

Index(['ApplicationDate', 'Age', 'AnnualIncome', 'CreditScore', 'LoanAmount',
       'LoanDuration', 'MaritalStatus', 'NumberOfDependents',
       'HomeOwnershipStatus', 'MonthlyDebtPayments',
       'CreditCardUtilizationRate', 'NumberOfOpenCreditLines',
       'NumberOfCreditInquiries', 'DebtToIncomeRatio', 'BankruptcyHistory',
       'LoanPurpose', 'PreviousLoanDefaults', 'PaymentHistory',
       'LengthOfCreditHistory', 'SavingsAccountBalance',
       'CheckingAccountBalance', 'TotalAssets', 'TotalLiabilities',
       'MonthlyIncome', 'UtilityBillsPaymentHistory', 'JobTenure',
       'EmploymentStatus', 'EducationLevel', 'Experience', 'NetWorth',
       'BaseInterestRate', 'InterestRate', 'MonthlyLoanPayment',
       'TotalDebtToIncomeRatio', 'LoanApproved'],
      dtype='object')

In [10]:
X_test.columns

Index(['ApplicationDate', 'Age', 'AnnualIncome', 'CreditScore', 'LoanAmount',
       'LoanDuration', 'MaritalStatus', 'NumberOfDependents',
       'HomeOwnershipStatus', 'MonthlyDebtPayments',
       'CreditCardUtilizationRate', 'NumberOfOpenCreditLines',
       'NumberOfCreditInquiries', 'DebtToIncomeRatio', 'BankruptcyHistory',
       'LoanPurpose', 'PreviousLoanDefaults', 'PaymentHistory',
       'LengthOfCreditHistory', 'SavingsAccountBalance',
       'CheckingAccountBalance', 'TotalAssets', 'TotalLiabilities',
       'MonthlyIncome', 'UtilityBillsPaymentHistory', 'JobTenure',
       'EmploymentStatus', 'EducationLevel', 'Experience', 'NetWorth',
       'BaseInterestRate', 'InterestRate', 'MonthlyLoanPayment',
       'TotalDebtToIncomeRatio', 'LoanApproved'],
      dtype='object')

In [11]:
scaler_features = X_train.select_dtypes(include=['int64', 'float64']).columns.values
categorical_features = X_train.select_dtypes(include=['object']).columns.values

X_train = pd.get_dummies(X_train, columns=categorical_features, drop_first=True)
X_test = pd.get_dummies(X_test, columns=categorical_features, drop_first=True)

X_test = X_test.reindex(columns=X_train.columns, fill_value=0)

In [16]:
X_test[X_test.isna()].sum()

Age                            0.0
AnnualIncome                   0.0
CreditScore                    0.0
LoanAmount                     0.0
LoanDuration                   0.0
                              ...
EmploymentStatus_Unemployed      0
EducationLevel_Bachelor          0
EducationLevel_Doctorate         0
EducationLevel_High School       0
EducationLevel_Master            0
Length: 8116, dtype: object

In [17]:
from sklearn.preprocessing import MinMaxScaler

In [18]:
minmax_scaler = MinMaxScaler()

minmax_scaler.fit(X_train[scaler_features]);
X_train[scaler_features] = minmax_scaler.transform(X_train[scaler_features])
X_test[scaler_features] = minmax_scaler.transform(X_test[scaler_features])

In [19]:
from sklearn.impute import KNNImputer

In [23]:
imputer = KNNImputer(n_neighbors=5)

imputer.fit(X_train)



X_train = pd.DataFrame(imputer.transform(X_train), index=X_train.index, columns=X_train.columns)
X_test = pd.DataFrame(imputer.transform(X_test), index=X_test.index, columns= X_test.columns)

np.int64(0)

In [63]:
data['RiskScore'].describe()

count    1.048700e+04
mean    -2.569878e+04
std      1.431675e+06
min     -9.999999e+06
25%      3.256475e+01
50%      4.411876e+01
75%      6.535690e+01
max      1.000000e+07
Name: RiskScore, dtype: float64

In [66]:
Q1 = data['RiskScore'].quantile(0.25)
Q3 = data['RiskScore'].quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = data[(data['RiskScore'] < lower_bound) | (data['RiskScore'] > upper_bound)]

print("Количество выбросов:", len(outliers))

print(outliers)

Количество выбросов: 215
      ApplicationDate   Age  AnnualIncome  CreditScore  LoanAmount  \
33         2003-03-05  37.0      300000.0        850.0     50557.0
56         2010-09-30  39.0       15000.0        761.0     27703.0
83         1986-07-23  46.0       15000.0        397.0     24498.0
183        1981-10-07  70.0       32492.0        676.0     83425.0
198        2010-02-08  31.0       66265.0        700.0     12173.0
...               ...   ...           ...          ...         ...
9959       2006-12-01  48.0       75435.0        756.0     19637.0
9987       1980-11-01  53.0       15000.0        527.0     29202.0
10586      1986-04-08  55.0      148482.0        716.0     17034.0
10601      2011-03-26  45.0       52406.0          NaN         NaN
10693      2004-06-02  33.0      300000.0        850.0     26906.0

       LoanDuration MaritalStatus  NumberOfDependents HomeOwnershipStatus  \
33             60.0        Single                 3.0                 Own
56             36.0       Married                 1.0                Rent
83             48.0        Single                 0.0            Mortgage
183            36.0       Married                 0.0                Rent
198            36.0      Divorced                 1.0                Rent
...             ...           ...                 ...                 ...
9959           60.0        Single                 3.0            Mortgage
9987           36.0        Single                 2.0            Mortgage
10586          48.0       Married                 0.0                Rent
10601          24.0       Married                 0.0                Rent
10693          48.0       Widowed                 0.0            Mortgage

       MonthlyDebtPayments  ...  EmploymentStatus  EducationLevel  Experience  \
33                   642.0  ...          Employed       Associate        15.0
56                  1197.0  ...     Self-Employed     High School        18.0
83                   474.0  ...          Employed        Bachelor        23.0
183                  817.0  ...          Employed       Associate        46.0
198                  970.0  ...          Employed       Doctorate        10.0
...                    ...  ...               ...             ...         ...
9959                 153.0  ...          Employed        Bachelor        25.0
9987                1036.0  ...          Employed     High School        31.0
10586                 62.0  ...     Self-Employed        Bachelor        32.0
10601                  NaN  ...          Employed     High School        23.0
10693                453.0  ...     Self-Employed          Master        12.0

       NetWorth  BaseInterestRate InterestRate  MonthlyLoanPayment  \
33       1909.0          0.140557     0.167621         1250.013168
56      38079.0          0.142203     0.140802          947.902662
83       8790.0          0.330998     0.343377          944.937492
183     30768.0          0.240425     0.262538         3372.535260
198      8150.0          0.157173     0.153609          424.135327
...         ...               ...          ...                 ...
9959     1390.0          0.156637     0.143762          460.757219
9987    72854.0          0.260702     0.241976         1148.709131
10586   27271.0          0.164034     0.152687          476.392649
10601       NaN               NaN     0.170362         1258.550967
10693    9768.0          0.106906     0.111588          697.475768

       TotalDebtToIncomeRatio  LoanApproved   RiskScore
33                   0.075681           1.0  -9999999.0
56                   1.715922           0.0  -9999999.0
83                   1.135150           0.0  -9999999.0
183                  1.547286           0.0  -9999999.0
198                  0.252465           0.0  -9999999.0
...                       ...           ...         ...
9959                 0.097635           1.0  -9999999.0
9987                 1.747767           0.0  -9999999.0
10586                0.043512           1.0  10000000.0
10601                0.487170           0.0  10000000.0
10693                0.046019           1.0  10000000.0

[215 rows x 36 columns]

Empty DataFrame
Columns: [ApplicationDate, Age, AnnualIncome, CreditScore, LoanAmount, LoanDuration, MaritalStatus, NumberOfDependents, HomeOwnershipStatus, MonthlyDebtPayments, CreditCardUtilizationRate, NumberOfOpenCreditLines, NumberOfCreditInquiries, DebtToIncomeRatio, BankruptcyHistory, LoanPurpose, PreviousLoanDefaults, PaymentHistory, LengthOfCreditHistory, SavingsAccountBalance, CheckingAccountBalance, TotalAssets, TotalLiabilities, MonthlyIncome, UtilityBillsPaymentHistory, JobTenure, EmploymentStatus, EducationLevel, Experience, NetWorth, BaseInterestRate, InterestRate, MonthlyLoanPayment, TotalDebtToIncomeRatio, LoanApproved, RiskScore]
Index: []

[0 rows x 36 columns]